doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		link(rel='icon', type='image/png', href='/logo/logo-black.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/logo/logo-black.png')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Landlord - Rooms
		link(href='/paper/css/mayoraTheme.css', rel='stylesheet')
		// Bootstrap core CSS
		link(href='/paperDashboard/css/bootstrap.min.css', rel='stylesheet')
		// Paper Dashboard core CSS
		link(href='/paperDashboard/css/paper-dashboard23cd.css?v=1.2.1', rel='stylesheet')
		// CSS for Demo Purpose, don't include it in your project
		link(href='/paperDashboard/css/demo.css', rel='stylesheet')
		// Fonts and icons
		link(href='/paper/font-awesome-4.7.0/css/font-awesome.min.css', rel='stylesheet')
		link(href='/paperDashboard/fonts/cssbba8.css?family=Muli:400,300', rel='stylesheet', type='text/css')
		link(href='/paperDashboard/css/themify-icons.css', rel='stylesheet')
		link(rel="stylesheet", href="/paper/css/photoswipe.css")
		link(href='/paperWizard/css/dropify.css', rel='stylesheet')
		// Sweetalert
		link(href='/paperDashboard/css/sweetalert.css', rel='stylesheet')
	body
		.wrapper
			.sidebar(data-background-color='brown', data-active-color='mayora')
				//
					Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
					Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
				.logo
					a.simple-text.logo-mini(href='/landlord')
						img(src='/logo/logo-white.png' style='width:35px; height:35px')
					a.simple-text.logo-normal(href='/landlord')
						img(src='/logo/logo-white.png' style='width:35px; height:35px')
						| ayora
				.sidebar-wrapper
					.user
						.info
							.photo
								img(src='/paperDashboard/img/faces/face-2.jpg')
							a.collapsed(data-toggle='collapse', href='#collapseExample')
								span
									| #{user.strFirstName} #{user.strLastName}
									b.caret
							.clearfix
							#collapseExample.collapse
								ul.nav
									li
										a(href='/logout')
											span.sidebar-mini L
											span.sidebar-normal Logout
					ul.nav
						li
							a(href='/landlord')
								i.ti-view-list-alt
								p
									| Dashboard
						li.active
							a(data-toggle='collapse', href='#componentsExamples')
								i.ti-package
								p
									| Maintenance
									b.caret
							#componentsExamples.collapse.in
								ul.nav
									li.active
										a(href='/landlord/rooms')
											span.sidebar-mini R
											span.sidebar-normal Rooms
									li
										a(href='/landlord/tenants')
											span.sidebar-mini T
											span.sidebar-normal Tenants
						li
							a(data-toggle='collapse', href='#formsExamples')
								i.ti-clipboard
								p
									| Transactions
									b.caret
							#formsExamples.collapse
								ul.nav
									li
										a(href='/landlord/payments')
											span.sidebar-mini P
											span.sidebar-normal Payments
									li
										a(href='/landlord/contract')
											span.sidebar-mini D
											span.sidebar-normal Deposits
						li
							a(href='/landlord/utilities')
								i.ti-panel
								p
									| Utilities
			.main-panel
				nav.navbar.navbar-default
					.container-fluid
						.navbar-minimize
							button#minimizeSidebar.btn.btn-fill.btn-icon
								i.ti-arrow-left
						.navbar-header
							button.navbar-toggle(type='button')
								span.sr-only Toggle navigation
								span.icon-bar.bar1
								span.icon-bar.bar2
								span.icon-bar.bar3
							a.navbar-brand
								| Rooms
								button.btn.btn-success(style='margin-left:10px;' data-toggle='modal' data-target='#roomModalAdd') + Add Room
						.collapse.navbar-collapse
							ul.nav.navbar-nav.navbar-right
								li.dropdown
									a.dropdown-toggle.btn-rotate(href='#notifications', data-toggle='dropdown')
										i.ti-bell
										span.notification #{user.notif.length}
										p.hidden-md.hidden-lg
											| Notifications
											b.caret
									ul.dropdown-menu
										- if(user.notif.length == '0')
											li
												a(href='javascript:void(0)') You have no notifications
										each notif in user.notif
											li
												a.notifAlert(href='javascript:void(0)' value=`${notif.intNotifID}`) #{notif.strNotifDesc}
				.content
					.container-fluid
						.row
							each room in roomsForPug
								.col-md-4
									.card
										.card-content
											.row
												.col-xs-7
													.numbers.pull-left PhP #{room.dblMonthlyFee}
												.col-xs-5
													.pull-right
														- if(room.booStatus == 0)
															span.label.label-success Vacant
														- if(room.booStatus == 1)
															span.label.label-danger Occupied
														- if(room.booStatus == 2)
															span.label.label-info Request Pending
											h6.big-title Room
												span.text-muted  no.
												|  #{room.intRoomID}
										.card-footer
											hr
											.footer-title &nbsp;
											.pull-right
												button.btn.btn-secondary.btn-fill.btn-icon.btn-sm.picAddButton(type='button' value=`${room.intRoomID}`) Add Picture
													span
														| &nbsp;
														i.ti-plus
												button.btn.btn-info.btn-fill.btn-icon.btn-sm.roomButton(type='button' value=`${room.intRoomID}`)
													i.ti-eye
				footer.footer
					.container-fluid
						nav.pull-left
							ul
								li
									a(href='/index/ourteam')
										| Our Team
								li
									a(href='/index/abouttheapp')
										| About the App
						.copyright.pull-right
							| © 
							script.
								document.write(new Date().getFullYear())
							| , made with 
							i.fa.fa-heart.heart
							|  by 
							a Mayora Team
		#roomModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='false')
			.modal-dialog.modal-register
				.modal-content
					.modal-header.no-border-header.text-center#roomModalTitle
					.modal-body
						form(method='POST' action='#')
							center
								h4.text-muted Room Pictures
							.my-gallery(itemscope='', itemtype='')
								.row#roomModalGallery
								.row
									.col-md-12#roomDetails
					.modal-footer.no-border-footer
						.row
							.col-md-12
								button.btn.btn-warning.btn-block#editButton Edit Room
		#picAddModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='false')
			.modal-dialog.modal-register
				.modal-content
					.modal-header.no-border-header.text-center
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h5.text-muted Room
						h3.modal-title.text-center Add Picture
					.modal-body
						form#picAddForm(method='POST' action='/landlord/addroompic' enctype='multipart/form-data')
							center
								h4.text-muted Room Picture
							.row
								.col-md-12
									small One picture at a time 
										small(style='color:red') *
									input.dropify(type='file', data-height='200' name='picture' data-width="100" required)
									small Picture Description
										small(style='color:red') *
									input.form-control(type='text' name='pictureDesc' placeholder='Description of Picture' required)
									button.btn.btn-success.btn-block(type='submit' style='margin-top:10px') Add Picture
		#roomModalAdd.modal.fade(tabindex='-1', role='dialog', aria-hidden='false')
			.modal-dialog.modal-register
				.modal-content
					.modal-header.no-border-header.text-center
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						h5.text-muted Room
						h3.modal-title.text-center Add New Room
					.modal-body
						form#addForm(method='POST' action='/landlord/addroom' enctype='multipart/form-data')
							center
								h4.text-muted Room Picture
							.row
								.col-md-12
									small You can add more pictures afterwards
										small(style='color:red') *
									input.dropify(type='file', data-height='100' name='picture' data-width="100" required)
									small Picture Description
										small(style='color:red') *
									input.form-control(type='text' name='pictureDesc' placeholder='Description of Picture' required)
							.row
								.col-md-12
									center
										h4.text-muted Room Details
									.row
										.col-md-7
											label Monthly Rent
												small(style='color:red') *
											input.form-control(type='number' name='monthlyRent' required)
									.row
										.col-md-7
											label Location
												small(style='color:red') *
											input.form-control(type='text' name='location' required)
									.row
										.col-md-7
											label Person Capacity
												small(style='color:red') *
											input.form-control(type='number' min='1' name='personCapacity' required)
									.row
										.col-md-6
											label With Comfort Room
												small(style='color:red') *
											select.selectpicker(name='CR' da data-size='2' data-style="btn btn-mayora btn-block" required)
												option(value='1') Yes
												option(value='0' selected) No
										.col-md-6
											label With Kitchen
												small(style='color:red') *
											select.selectpicker(name='kitchen' data-size='2' data-style="btn btn-mayora btn-block" required)
												option(value='1') Yes
												option(value='0' selected) No
									.row
										.col-md-6
											label With Garage
												small(style='color:red') *
											select.selectpicker(name='garage' data-size='2' data-style="btn btn-mayora btn-block" required)
												option(value='1') Yes
												option(value='0' selected) No
										.col-md-6
											label With Own Electric and Water Meter
												small(style='color:red') *
											select.selectpicker(name='meter' data-size='2' data-style="btn btn-mayora btn-block" required)
												option(value='1') Yes
												option(value='0' selected) No
									.row
										.col-md-7
											label Number of Bedrooms
												small(style='color:red') *
											input.form-control(type='number' required name='numberOfBedrooms')
									.row
										.col-md-7
											label Down Payment Rule
												small(style='color:red') *
											input.form-control(type='text' required name='downPayment')
									.row
										.col-md-12
											input.btn.btn-success.btn-block(type='submit' style='margin-top:5px')
					.modal-footer.no-border-footer
		.pswp(tabindex='-1', role='dialog', aria-hidden='true')
			//
				Background of PhotoSwipe.
				It's a separate element as animating opacity is faster than rgba().
			.pswp__bg
			// Slides wrapper with overflow:hidden.
			.pswp__scroll-wrap
				//
					Container that holds slides.
					PhotoSwipe keeps only 3 of them in the DOM to save memory.
					Don't modify these 3 pswp__item elements, data is added later on.
				.pswp__container
					.pswp__item
					.pswp__item
					.pswp__item
				// Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
				.pswp__ui.pswp__ui--hidden
					.pswp__top-bar
						// Controls are self-explanatory. Order can be changed.
						.pswp__counter
						button.pswp__button.pswp__button--close(title='Close (Esc)')
						button.pswp__button.pswp__button--share(title='Share')
						button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
						button.pswp__button.pswp__button--zoom(title='Zoom in/out')
						// Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
						// element will get class pswp__preloader--active when preloader is running
						.pswp__preloader
							.pswp__preloader__icn
								.pswp__preloader__cut
									.pswp__preloader__donut
					.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
						.pswp__share-tooltip
					button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
					button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
					.pswp__caption
						.pswp__caption__center
		form#redirect(method='get' action='')
		// Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
		script(src='/paperDashboard/js/jquery-3.1.1.min.js', type='text/javascript')
		script(src='/paperDashboard/js/jquery-ui.min.js', type='text/javascript')
		script(src='/paperDashboard/js/perfect-scrollbar.min.js', type='text/javascript')
		script(src='/paperDashboard/js/bootstrap.min.js', type='text/javascript')
		//Selectpicker
		script(src='/paperDashboard/js/bootstrap-selectpicker.js')
		// Switch and Tags Input Plugins
		script(src='/paperDashboard/js/bootstrap-switch-tags.js')
		// Circle Percentage-chart
		script(src='/paperDashboard/js/jquery.easypiechart.min.js')
		// Notifications Plugin
		script(src='/paperDashboard/js/bootstrap-notify.js')
		// Paper Dashboard PRO Core javascript and methods for Demo purpose
		script(src='/paperDashboard/js/paper-dashboard23cd.js?v=1.2.1')
		// Sharrre Library
		script(src='/paperDashboard/js/jquery.sharrre.js')
		// Paper Dashboard PRO DEMO methods, don't include it in your project!
		script(src='/paperDashboard/js/demo.js')
		// Photoswipe files
		script(src='/paper/js/photo_swipe/photoswipe.min.js')
		script(src='/paper/js/photo_swipe/photoswipe-ui-default.min.js')
		script(src='/paper/js/photo_swipe/init-gallery.js')
		//File Upload
		script(src='/paperWizard/js/dropify.js')
		// sweetalert
		script(src='/paperDashboard/js/sweetalert.js')
		script.
			$('.dropify').dropify({
				messages: {
					'default': 'Drag and drop a file here or click',
					'replace': 'Drag and drop or click to replace',
					'remove': 'Remove',
					'error': 'Ooops, something wrong appended.'
				},
				error: {
					'fileSize': 'The file size is too big (1M max).'
				}
			});
		script.
			$(document).ready(function(){
				$('#editButton').click(function(){
					$('#editSubmitButton').css('display', 'block');
					$('#cancelButton').css('display', 'block');
					$(this).css('display', 'none');
					$('.palit').attr('readonly', false);
					$('.palit').attr('required', true);
				});
				
				$('.picAddButton').click(function(){
					$('#picAddForm').append(`<input type='hidden' name='roomID' value='${$(this).val()}'/>`)
					$('#picAddModal').modal('show');
				});
				$('.roomButton').click(function(){
					var idNow = $(this).val();
					$.post('/landlord/queryroompic', {id: idNow})
					.done(data =>{
						$('#roomModalTitle').append(`<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
						<h3 class="modal-title text-center">Room ${data.intRoomID}</h3>`)
						$('#roomDetails').append(`<center>
							<h4 class="text-muted">Room Details</h4>
							</center>
							<div class="row">
							<div class="col-md-7">
								<label>Monthly Rent</label>
								<input id="monthlyRent" type="number" name="monthlyRent" value="${data.dblMonthlyFee}" readonly="readonly" class="form-control palit"/>
							</div>
							</div>
							<div class="row">
							<div class="col-md-7">
								<label>Person Capacity</label>
								<input id="person" type="number" name="personCapacity" value="${data.intPaxCapacity}" readonly="readonly" class="form-control palit"/>
							</div>
							</div>
							<div class="row">
							<div class="col-md-7">
								<label>Location</label>
								<input id="location" type="text" name="location" value="${data.strLocation}" readonly="readonly" class="form-control palit"/>
							</div>
							</div>
							<div class="row" id="row1">
							</div>
							<div class="row" id="row2">
							</div>
							<div class="row">
							<div class="col-md-7">
								<label>Number of Bedrooms</label>
								<input id="bedrooms" type="number" name="numberOfBedrooms" value="${data.intBedrooms}" readonly="readonly" class="form-control palit"/>
							</div>
							</div>
							<div class="row">
							<div class="col-md-7">
								<label>Down Payment Rule</label>
								<input id="downpayment" type="text" name="downPayment" value="${data.strDownPaymentRule}" readonly="readonly" class="form-control palit"/>
							</div>
							</div>
							<div class="row">
							<div class="col-md-2">
								<button id="editSubmitButton" style="margin-top:5px;display:none" class="btn btn-warning btn-block btn-sm">Edit</button>
							</div>
							<div class="col-md-2">
								<button id="cancelButton" style="margin-top:5px;display:none" class="btn btn-danger btn-block btn-sm">Cancel</button>
							</div>
							</div>`)
						//CONDITION ON ROW 1
						if(data.booCR == 1 && data.booKitchen == 1){
							$('#row1').append(`<div class="col-md-6">
								<label>With Comfort Room</label>
								<select id="CR" name="CR" data-size="2" data-style="btn btn-mayora btn-block" readonly class="selectpicker palit">
									<option value="1" selected="selected">Yes</option>
									<option value="0">No</option>
								</select>
							</div>
							<div class="col-md-6">
								<label>With Kitchen</label>
								<select id="kitchen" name="kitchen" data-size="2" data-style="btn btn-mayora btn-block" readonly class="selectpicker palit">
									<option value="1" selected>Yes</option>
									<option value="0">No</option>
								</select>
							</div>`)
						}
						else if(data.booCR == 0 && data.booKitchen == 0){
							$('#row1').append(`<div class="col-md-6">
									<label>With Comfort Room</label>
									<select id="CR" name="CR" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1">Yes</option>
									<option value="0" selected>No</option>
									</select>
								</div>
								<div class="col-md-6">
									<label>With Kitchen</label>
									<select id="kitchen" name="kitchen" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1">Yes</option>
									<option value="0" selected>No</option>
									</select>
								</div>`)
						}
						else if(data.booCR == 1 && data.booKitchen == 0){
							$('#row1').append(`<div class="col-md-6">
									<label>With Comfort Room</label>
									<select id="CR" name="CR" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1" selected>Yes</option>
									<option value="0">No</option>
									</select>
								</div>
								<div class="col-md-6">
									<label>With Kitchen</label>
									<select id="kitchen" name="kitchen" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1">Yes</option>
									<option value="0" selected>No</option>
									</select>
								</div>`)
						}
						else if(data.booCR == 0 && data.booKitchen == 1){
							$('#row1').append(`<div class="col-md-6">
									<label>With Comfort Room</label>
									<select id="CR" name="CR" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1">Yes</option>
									<option value="0" selected>No</option>
									</select>
								</div>
								<div class="col-md-6">
									<label>With Kitchen</label>
									<select id="kitchen" name="kitchen" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1" selected>Yes</option>
									<option value="0">No</option>
									</select>
								</div>`)
						}
						// CONDITION ON ROW 2
						if(data.booGarage == 0 && data.booOwnMeter == 0){
							$('#row2').append(`<div class="col-md-6">
								<label>With Garage</label>
								<select id="garage" name="garage" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
								<option value="1">Yes</option>
								<option value="0" selected>No</option>
								</select>
							</div>
							<div class="col-md-6">
								<label>With Own Electric and Water Meter</label>
								<select id="meter" name="meter" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
								<option value="1">Yes</option>
								<option value="0" selected>No</option>
								</select>
							</div>`)
						}
						else if(data.booGarage == 1 && data.booOwnMeter == 1){
								$('#row2').append(`<div class="col-md-6">
									<label>With Garage</label>
									<select id="garage" name="garage" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1" selected>Yes</option>
									<option value="0">No</option>
									</select>
								</div>
								<div class="col-md-6">
									<label>With Own Electric and Water Meter</label>
									<select id="meter" name="meter" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1" selected>Yes</option>
									<option value="0">No</option>
									</select>
								</div>`)
						}
						else if(data.booGarage == 1 && data.booOwnMeter == 0){
								$('#row2').append(`<div class="col-md-6">
									<label>With Garage</label>
									<select id="garage" name="garage" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1" selected>Yes</option>
									<option value="0">No</option>
									</select>
								</div>
								<div class="col-md-6">
									<label>With Own Electric and Water Meter</label>
									<select id="meter" name="meter" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1">Yes</option>
									<option value="0" selected>No</option>
									</select>
								</div>`)
						}
						else if(data.booGarage == 0 && data.booOwnMeter == 1){
								$('#row2').append(`<div class="col-md-6">
									<label>With Garage</label>
									<select id="garage" name="garage" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1">Yes</option>
									<option value="0" selected>No</option>
									</select>
								</div>
								<div class="col-md-6">
									<label>With Own Electric and Water Meter</label>
									<select id="meter" name="meter" data-size="2" data-style="btn btn-mayora btn-block" readonly="readonly" class="selectpicker palit">
									<option value="1" selected>Yes</option>
									<option value="0">No</option>
									</select>
								</div>`)
						}
						$('.selectpicker').selectpicker({});
						for(var x = 0; x<data.count; x++){
							$('#roomModalGallery').append(`<figure itemprop="associatedMedia" itemscope="" itemtype="" class="col-md-3 col-sm-4 gallery-item"><a href="${data.pictureGallery[x].strPicture}" itemprop="contentUrl" data-size="1002x1002"><img src="${data.pictureGallery[x].strPicture}" itemprop="thumbnail" alt="Image description" class="vertical-image img-rounded img-responsive"/></a>
								<figcaption itemprop="caption description" class="gallery-caption">${data.pictureGallery[x].strPictureDesc}</figcaption>
								</figure>`)
						}
						$('#roomModal').modal('show');
						$('#cancelButton').click(function(){
							$('#editSubmitButton').css('display', 'none');
							$(this).css('display', 'none');
							$('#editButton').css('display', 'block');
							$('.palit').attr('readonly', true);
							$('.palit').attr('required', false);
						});
						$('#editSubmitButton').click(function(){
							$.post('/landlord/editroom', {monthlyRent:$('#monthlyRent').val(), 
								personCapacity:$('#person').val(), 
								location:$('#location').val(),
								CR:$('#CR').val(),
								kitchen:$('#kitchen').val(), 
								garage:$('#garage').val(), 
								meter:$('#meter').val(),
								numberOfBedrooms:$('#bedrooms').val(),
								downPayment:$('#downpayment').val(),
								id: idNow
								})
							.done(data =>{
								if(data){
									swal('Success', `Room Details are edited`, 'success')
									$('#editSubmitButton').css('display', 'none');
									$('#cancelButton').css('display', 'none');
									$('#editButton').css('display', 'block');
									$('.palit').attr('readonly', true);
									$('.palit').attr('required', false);
								}
							});
						});
					});
				});
				$('#roomModal').on('hidden.bs.modal', function(){
					$('#roomModalTitle').empty()
					$('#roomDetails').empty()
					$('#roomModalGallery').empty();
				});
				$('.notifAlert').click(function(){
					$.post('/landlord/determineNotif', {id: $(this).attr('value')})
					.done(data =>{
						if(data.tenantID){
							swal({
								title: "Accept Request?",
								text: "This will notify Tenant and will provide him an invoice to be paid",
								icon: "warning",
								buttons: true,
								dangerMode: true,
							})
							.then((accepted) => {
								if (accepted) {
									$.post('/landlord/notifytenant', {tenantId: data.tenantID, notifId: data.notifID, reqCode: data.reqCode})
									.done(data =>{
										swal("Tenant is now notified", {
											icon: "success",
											title: "Accepted!"
										});
										$('#redirect').attr('action', `${data.url}`)
										$('#redirect').submit();
									})
								}
							});
						}
						else if(data.url){
							$('#redirect').attr('action', `${data.url}`)
							$('#redirect').submit();
						}
					})
				});
			});